body {
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: #B0E0E6;
}

#header {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#picture {
    height: 200px;
    width: 113px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#links {
    text-align: center;
    font-size: 20px;
}

#synopsis {
    margin-left: 10%;
}

.info {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.sections {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: 23px;
}

.titles {
    font-weight: bold;
    font-size: 20px;
}

.italics {
    font-style: italic;
    text-decoration: underline;
}

.warning {
    font-size: 30px;
    font-weight: bolder;
}